<div style="position: fixed; width: 100%">
    <nav class="navbar navbar-light" style="background-color: white;">
        <a class="navbar-brand" href="/" style="margin-left: 70px">
            <img src="http://www.dongkhoitravel.com.vn/upload/product/furamresort-3272.png" width="190" height="85"
                alt="logo-link">
        </a>
        <div style="font-size: smaller; font-family: 'Comic Sans MS';">
            <ul style="list-style-type: none;">
                <li style="padding-top: 13px;"><i class="fas fa-map-marker-alt" style="color: cadetblue"></i>
                    103 - 105 Vo Nguyen Giap Street, Khue My Ward, Ngu Hanh Son District, Danang City, Vietnam</li>
                <li style="padding-top: 5px;"><i class="fas fa-phone" style="color: cadetblue"></i> 84-236-3847 333/888
                </li>
                <li style="padding-top: 5px;"><i class="fas fa-envelope" style="color: cadetblue"></i>
                    reservation@furamavietnam.com</li>
            </ul>
        </div>
        <p style="font-size: 25px; margin-right: 50px; font-family: 'Comic Sans MS'; color: cadetblue">DNB's
        </p>
    </nav>
    <!--Header links-->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: cadetblue">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active mr-5" style="margin-left: 100px">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active mr-5">
                    <a class="nav-link" href="/employee">Employee</a>
                </li>
                <li class="nav-item active mr-5">
                    <a class="nav-link" href="/customer">Customer</a>
                </li>
                <li class="nav-item active mr-5">
                    <a class="nav-link" href="/service">Service</a>
                </li>
                <li class="nav-item active mr-5">
                    <a class="nav-link" href="/contract">Contract</a>
                </li>
            </ul>
            <!-- Search form -->
            <form class="form-inline my-2 my-lg-0">
                <div class="input-group mb-0">
                    <div class="input-group-prepend">
                        <button class="btn" type="submit"
                            style="border-radius: 20px 0px 0px 20px; background-color: white;">
                            <i class="fas fa-search" style="color: cadetblue"></i></button>
                    </div>
                    <input type="text" class="form-control" placeholder="Search"
                        style="margin-right: 50px; border-radius: 0px 20px 20px 0px" name="search">
                </div>
            </form>
        </div>
    </nav>
</div>