<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info Book</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
</head>
<body>
<header th:replace="/common::hearderBook"></header>
<div align="center">
    <!-- Button -->
            <button type="submit" class="btn btn-warning" style="margin-top: -13px; margin-bottom: 3px"><a th:href="@{/book/create}"
                                                             style="text-decoration: none; color: #0c0c0c">Create New Book</a>
            </button>
    <div class="notify" style="color: red">
        <div th:if="${message}"><span th:text="${message}"></span></div>
    </div>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Code</th>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
        <th scope="col">View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book:${bookList}">
        <td th:text="${book.id}"></td>
        <td th:text="${book.codeBook}"></td>
        <td th:text="${book.nameBook}"></td>
        <td th:text="${book.quantity}"></td>
        <td><a th:href="@{/book/{id}/edit(id=${book.getId()})}">Edit</a></td>
        <td><a th:href="@{/book/{id}/delete(id=${book.getId()})}">Delete</a></td>
        <td><a th:href="@{/book/{id}/view(id=${book.getId()})}">View</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="/common::footerBook"></footer>
</body>
</html>