<div class="d-flex justify-content-center"
    style="width: 100%; height: 794px; font-family: 'Comic Sans MS'; 
    background-image: url('../../../../assets/beach-blur.jpg'); background-repeat: no-repeat; background-size: 100% auto;">
    <div style="text-align: center; margin-top: 3%; width: 80%;">
        <h3>Customer List</h3>
        <a class="btn btn-info btn-outline-light rounded-pill" style="float: right;" [routerLink]="['/create-customer']"><i
                class="fas fa-plus"></i> New Customer</a>
        <h5 style="color: green" th:if="${message}" th:text="${message}"></h5>
        <table id="tableCustomer" class="table table-bordered table-hover" style="margin-top: 5%;">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Birthday</th>
                    <th>Gender</th>
                    <th>ID Card</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Type</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of customers | paginate: { itemsPerPage: 5, currentPage: p }">
                    <!-- |filter:term -->
                    <td>{{customer.id}}</td>
                    <td>{{customer.name}}</td>
                    <td>{{customer.birthday}}</td>
                    <td>{{customer.gender}}</td>
                    <td>{{customer.idCard}}</td>
                    <td>{{customer.phone}}</td>
                    <td>{{customer.email}}</td>
                    <td>{{customer.address}}</td>
                    <td>{{customer.type}}</td>
                    <td>
                        <a th:href="@{/customer/edit/__${customer.customerId}__}" class="btn btn-sm btn-primary edit"
                            data-toggle="tooltip" title="Edit">
                            <i class="fas fa-pen"></i></a>
                        &nbsp;
                        <a th:href="@{/customer/delete/__${customer.customerId}__}" data-toggle="modal"
                            data-target="#deleteModal" th:data-name="${customer.customerName}"
                            th:data-id="${customer.customerId}" class="deleteId btn btn-sm btn-danger"
                            data-toggle="tooltip" title="Delete">
                            <i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>

<!--Pagination customize button-->
        <!-- <div class="d-flex justify-content-center">
            <a th:href="@{'/customer'(page=${customerList.number - 1})}" th:if="${customerList.hasPrevious()}"
                class="btn btn-info rounded-circle" data-toggle="tooltip" title="Previous"><i
                    class="fas fa-chevron-left fa-lg"></i></a>
            &nbsp;
            <span th:text="${customerList.number + 1}"></span>/<span th:text="${customerList.totalPages}"></span>
            &nbsp;
            <a th:href="@{'/customer'(page=${customerList.number + 1})}" th:if="${customerList.hasNext()}"
                class="btn btn-info rounded-circle" data-toggle="tooltip" title="Next"><i
                    class="fas fa-chevron-right fa-lg"></i></a>
        </div> -->