<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Category</title>
</head>
<body>
<h1>Delete category</h1>
<h2>Are you sure?</h2>
<p>
    <a href="/category">Category List</a>
</p>
<form th:action="@{/category/delete-category}" th:object="${category}" method="post">
    <input th:type="hidden" th:name="id" th:field="*{id}">


    <table>
        <tr>
            <td>Name of Category: </td>
            <td th:text="${category.name}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete Blog"></td>
        </tr>
    </table>
</form>
</body>
</html>